body {
  background: #27AE60;
}

.lm-icon {
  margin: 0 auto;
}

.lm-icon svg {
  position: relative;
  z-index: 1;
  fill: transparent;
  stroke-width: 2px;
  stroke: #FFF;
  stroke-linecap: round;
  animation: hello 3s linear;
  transition: fill 2s;
  animation-fill-mode: forwards;
  }

  @keyframes hello {
    0% {stroke-dasharray: 500; stroke-dashoffset: 500;}
    90% {stroke:#FFF;}
    100% {stroke-dasharray:500; stroke-dashoffset: -500; stroke:transparent; fill: #FFF;}
  }
